$color-main: #ff6600;

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 15rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    color: $color-main;
    margin: 0;
  }

  p {
    line-height: 150%;
  }
}
