.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 25rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  p {
    line-height: 150%;
  }
}

.dark {
  min-height: 100vh;
  background-color: #1c2022;
  color: #fff;

  p {
    color: #fff;

    &.meta-info {
      a {
        color: #FFE8D3
      }
    }
  }

  h2.user-id {
    color: #FFE8D3
  }

  li.comment {
    background-color: #24282a;
  }
}
